extends ../layouts/default

block intro
	.container
		h2.page-heading
			.page-heading-name-ch 关于
			.page-heading-name-en about

block content
	link(href="/styles/site/about.min.css", rel="stylesheet")
	.container: .row
		.col-md-9.col-sm-7
			.row
				.col-md-6
					h4 这里是关于骚也的详细介绍!
