extends ../layouts/default

block intro
	.container
		h2.page-heading
			.page-heading-name-ch 关于
			.page-heading-name-en about

block content
	link(href="/styles/site/about.min.css", rel="stylesheet")
	.container.container-about: .row
		.col-xs-12
			p 这里是关于骚也的详细介绍!
