extends ../layouts/default
include ../layouts/dot-divider

block headVars
	- var title = '骚也 | 关于';

block content
	link(href="/styles/site/about.min.css", rel="stylesheet")
	.container.container-about: .row
		.col-sm-5
			.about-header
				.saoye-logo
					img(src="/images/saoye-about2.svg")
		.col-sm-7						
			.about-intro
				.about-intro-brief
					span We are sorry about&nbsp;
					span not feeling any sorry at all&nbsp;  
					span for our reader-unfriendliness.
				.about-intro-extended
					span 一群以取悦自己为写作源动力、自由而无用的青年人聚集在一起，就容易隔岸观火地捉蝴蝶。永远年轻！永远绕开“常识”。笔耕不辍！Excited！
		
