extends ../layouts/default

mixin post(post, isS3Enabled)
	.col-sm-6
		.post
			if (post.postThumbnailImage.exists)
				- var postUrl = isS3Enabled ? post.postThumbnailImage.url : ('/post/images/' + post.postThumbnailImage.filename);
			else 
				- var postUrl = ''; 
			div(style="background-image:url('" + postUrl + "');").post-thumbnail
				.category-labels
					if post.authors && post.authors.length
						each auth, auth_i in post.authors
							a(href='/author/' + auth.slug).label= auth.authorName
						span.label=post._.publishedDate.format('YYYY.MM.DD')
					if post.categories && post.categories.length
						each cat, cat_i in post.categories
							a(href='/articles/' + cat.key).label=cat.name	
			.post-author-date
				
			.post-info
				a(href='/articles/post/' + post.slug).post-title
					!=post.title
				.post-brief
					!=post.content.brief

block intro
	.container
		h2.page-heading
			.page-heading-name-ch 文章
			.page-heading-name-en articles

block content
	link(href="/styles/site/articles.min.css", rel="stylesheet")
	.container.conatiner-articles 
		// Categories
		.row
			if data.categories.length
				.col-xs-12.category-list
					a(href='/articles', class=!data.category ? 'active' : false) 所有文章
					each cat in data.categories
						a(href='/articles/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false)= cat.name
		.articles.row
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.posts.results.length
					each post in data.posts.results
						+post(post, data.isS3Enabled)
					if data.posts.totalPages > 1
						.col-xs-12.pagination-container
							ul.pagination
								if data.posts.previous
									li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
								else
									li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
								each p, i in data.posts.pages
									li(class=data.posts.currentPage == p ? 'active' : null)
										a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
								if data.posts.next
									li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
								else
									li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					.row
						.col-md-6
							p.text-muted 我们抓蝴蝶去了。
