extends ../layouts/default

mixin post(post, isS3Enabled)
	.col-sm-6
		.post
			if (post.postThumbnailImage.exists)
				- var postUrl = isS3Enabled ? post.postThumbnailImage.url : ('/post/images/' + post.postThumbnailImage.filename);
			else 
				- var postUrl = '/images/saoye_logo_black.svg'; 
			div(style="background-image:url('" + postUrl + "');").post-thumbnail
				.category-labels
					if post.authors && post.authors.length
						each auth, auth_i in post.authors
							a(href='/author/' + auth.slug).label= auth.authorName
						span.label=post._.publishedDate.format('YYYY.MM.DD')
					if post.categories && post.categories.length
						each cat, cat_i in post.categories
							a(href='/articles/' + cat.key).label=cat.name	
			.post-author-date
				
			.post-info
				a(href='/articles/post/' + post.slug).post-title
					!=post.title
				.post-brief
					!=post.content.brief

block intro
	.container
		h2.page-heading
			.page-heading-name-ch 文章
			.page-heading-name-en articles

block content
	link(href="/styles/site/articles.min.css", rel="stylesheet")
	.container.conatiner-articles 
		// Categories
		.row
			if data.categories.length
				.col-xs-12.category-list
					a(href='/articles', class=!data.category ? 'active' : false) 所有文章
					each cat in data.categories
						a(href='/articles/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false)= cat.name
		.row.articles
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.posts.length > 0
					#post-list
						each post in data.posts
							+post(post, data.isS3Enabled)
							
					if data.posts.length < 10
						.col-xs-12.button-container
							button#load-more(type="button").btn 更多文章
				else
					.row
						.col-md-6
							p.text-muted 我们抓蝴蝶去了。
