// Created by olvan on 2016-06-26.

extends ../layouts/default

mixin author(author, isS3Enabled)
	.col-sm-4
		.author
			if author.authorImage
				- var authorImgUrl = isS3Enabled ? author.authorImage.url : '/author/images/' + author.authorImage.filename;
			else
				- var authorImgUrl = '/images/saoye_logo_white.png';
			.author-image
				img(src=authorImgUrl, alt=author.authorName)
			.author-introduction
				div(class="author-name")
					a(href='/author/' + author.slug) 
						!=author.authorName
				div(class="author-brief")
					!=author.introduction.brief

block intro
	.container
		h2.page-heading
			if data.category
				!=data.category.name
			else	
				.page-heading-name-ch 作者 
				.page-heading-name-en authors

block content
	link(href="/styles/site/author.min.css", rel="stylesheet")
	.container.container-author
		.author-list: .row
			if data.authorRows.length
				each row in data.authorRows
					.row
						each author in row
							+author(author, data.isS3Enabled)
			else
				p.text-muted 去玩躲猫猫咯！
