// Created by olvan on 2016-06-26.

extends ../layouts/default

mixin author(author, isS3Enabled)
	.author.col-md-6
		a(href='/author/' + author.slug)
			.author-introduction
				h2(class="author-name")
					!=author.authorName
				p(class="author-brief")
					!=author.introduction.brief
				
			if author.authorImage.exists
				- var authorImgUrl = isS3Enabled ? author.authorImage.url : "/author/images/" + author.authorImage.filename;
			else
				- var authorImgUrl = "";
			.author-image(style="background-image:url('" + authorImgUrl + "');")

	

block intro
	.container
		h2.page-heading
			if data.category
				!=data.category.name
			else	
				.page-heading-name-ch 作者 
				.page-heading-name-en authors

block content
	link(href="/styles/site/author.min.css", rel="stylesheet")
	.container: .row
		.col-sm-8.col-md-9
			.author-list.row
				if data.authors.results.length
					each author in data.authors.results
						+author(author, data.isS3Enabled)

					if data.authors.totalPages > 1
						ul.pagination
							if data.authors.previous
								li: a(href='?page=' + data.authors.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.authors.pages
								li(class=data.authors.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.authors.totalPages : 1) : p ))= p
							if data.authors.next
								li: a(href='?page=' + data.authors.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.authors.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					h3.text-muted There are no author yet.
		
		//categories part
			
		//if data.categories.length
		//	.col-sm-4.col-md-3
		//		h2 Categories
		//		.list-group(style='margin-top: 70px;')
		//			a(href='/author', class=!data.category ? 'active' : false).list-group-item All Categories
		//			each cat in data.categories
		//				a(href='/author/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
