//Created by olvan on 2016-06-27.

extends ../layouts/default

mixin post(post, isS3Enabled)
	.post.col-md-6
	
		div.post-info
			a(href='/articles/post/' + post.slug).post-title
				!=post.title
			.post-brief
				!=post.content.brief
			
block content
	link(href="/styles/site/authorPost.min.css", rel="stylesheet")
	.container: .row
		.col-sm-8.col-md-9
			.author-post-info
				p: a(href='/author') &larr; 作者们
				if !data.author
					h5 同志,这人我找不到.
				else
					.author-name
						!=data.author.authorName
					.author-intro
						!=data.author.introduction.extended
						
			
			.author-article-list
				if data.authorPosts.length
					each post in data.authorPosts
						+post(post, data.isS3Enabled)
				else
					h5 我还在寻找灵感.
