//Created by olvan on 2016-06-27.

extends ../layouts/default

block headVars
	- var title = '骚也 | ' + data.author.authorName
	if data.author.authorImage.exists
		- var ogImage = data.author.authorImage.url || ("/author/images/" + data.author.authorImage.filename);
	else
		- var ogImage = '/images/saoye_logo_white.png';
	- var ogDesc = data.author.introduction.brief;

mixin post(post, isS3Enabled)
	.post.col-sm-6
		if (post.postThumbnailImage.exists)
			- var postUrl = isS3Enabled ? post.postThumbnailImage.url : ('/post/images/' + post.postThumbnailImage.filename);
		else
			- var postUrl = '/images/saoye_logo_black.svg';
		div(style="background-image:url('" + postUrl + "');").post-thumbnail
			.category-labels
				if post.authors && post.authors.length
					span.label=post._.publishedDate.format('YYYY.MM.DD')
				if post.categories && post.categories.length
					each cat, cat_i in post.categories
						a(href='/articles/' + cat.key).label=cat.name
		.post-author-date
	
		.post-info
			a(href='/articles/post/' + post.slug).post-title
				!=post.title
			.post-brief
				!=post.content.brief
block clientTmpl
	//- JS Render template 
	script(id="postTmpl", type="text/x-jsrender")
		.col-sm-6
			.post
				div(style="background-image:url('{{:imageUrl}}');").post-thumbnail
					.category-labels
						| {{for authors}} 
						|	<a href="/author/{{:slug}}" class="label">{{:authorName}}</a>
						| {{/for}}
						| <span class="label">{{:date}}</span>
						| {{for categories}}
						| 	<a href="/articles/{{:key}}" class="label">{{:name}}</a>
						| {{/for}}	
				.post-info
					| <a href="/articles/post/{{:slug}}" class="post-title">{{:title}}</a>
					| <div class="post-brief">{{:brief}}</div>
			
block content
	link(href="/styles/site/authorPost.min.css", rel="stylesheet")
	.container.conatiner-authorpost: .row: .col-xs-12
		.author-post-info
			if data.author
				.author-avatar
					if data.author.authorImage.exists
						- var authorImgUrl = data.author.authorImage.url || ("/author/images/" + data.author.authorImage.filename);
					else
						- var authorImgUrl = '/images/saoye_logo_white.png';
				
					img(src=authorImgUrl, alt=data.author.authorName)
				.author-name
					!=data.author.authorName
				#description.author-intro
					!=data.author.introduction.brief
			else
				h5 没有找到这个作者。
					
		h3.section-header #{data.author.authorName}的作品
		.articles.row
			if data.authorPosts.length
				#post-list
					each post in data.authorPosts
						+post(post, data.isS3Enabled)
					if data.authorPosts.length >= 10
						.col-xs-12.button-container
							button#load-more(type="button").btn 更多文章
			else
				.col-xs-12
					p.text-muted 我还在寻找灵感

block js
	script(src="/js/libs/jsrender.min.js")
	script(src="/js/libs/jquery-dateFormat.min.js")
	script(src="/js/author-post-page.js")