extends ../layouts/default

mixin postImage(post)
	if (post.postThumbnailImage.exists)
		div(class="post-background", style="background-image:url(" + (post.postThumbnailImage.url || "/post/images/" + post.postThumbnailImage.filename) + ")")
			if (post.titleImage.exists)
				.post-title
					img(class="post-title-img", src="" + (post.titleImage.url || "/post/images/" + post.titleImage.filename))
			.post-info
				if post.authors && post.authors.length
					each auth, auth_i in post.authors
						a(href='/author/' + auth.slug).label= auth.authorName
					span.label=post._.publishedDate.format('YYYY.MM.DD')
				if post.categories && post.categories.length
					each cat, cat_i in post.categories
						a(href='/articles/' + cat.key).label=cat.name
	else 
		.post-title
			h1(class="post-title")
				!=post.title
			h5(class="post-brief") 
				!=post.content.brief	

mixin post(post)
	.post
		+postImage(post)
		.post-brief
			!{post.content.extract}   
		a(href='/articles/post/' + post.slug).full-text-link 阅读全文

block content
	link(href="/styles/site/main.min.css", rel="stylesheet")
	.container.container-main
		if data.posts.results.length
			each post in data.posts.results
				+post(post)
		else
			h3.text-muted 敬请期待最新文章！
