extends ../layouts/default

mixin post(post)
	.post
		a(href='/blog/post/' + post.slug)
			if post.postImage.exists & post.titleImage.exists
				img(class="post-background", style="background-image:url(/post/images/" + post.postImage.filename + ")")
				.post-info
					img(class="post-title-img", src="/post/images/" + post.titleImage.filename)
			else
				.post-info
					h1(class="post-title")
						!=post.title
					h5(class="post-brief") 
						!=post.content.brief


block content
		if data.posts.results.length
			#home-slider.carousel.slide
				.carousel-inner
					- var i = 0
					each post in data.posts.results
						- i++
						if i == 1
							.item.active
								+post(post)

						else
							.item
								+post(post)
			.pull-center
				a.carousel-control.left(href="#home-slider" data-slide="prev")
				a.carousel-control.right(href="#home-slider" data-slide="next")

		else
			h3.text-muted There are no posts yet.
		
script $('.carousel').carousel();
