@import '../bootstrap/variables.less';
@import './variables.less';

body {
  padding-top: @navbar-height-lg-screen;
}

.author-post-info {
  .author-name {
	font-size: 2.5em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
  }
  
  .author-intro {
	padding-bottom: 1em;
  }
}
