@import '../bootstrap/variables.less';
@import './variables.less';

.container-author {
  max-width: 810px;
  padding-bottom: 20px;

  .author-list {
    .row {
      .col-sm-4 {
        padding: 6px;

        @media (max-width: @screen-xs-max) {
          padding: 0;
        }
      }
    }
  }

  .author {
    margin: 12px auto;
    overflow: auto;
    text-align: center;
    max-width: 270px;
    padding: 12px;
    border: 1px solid #EEE;

    @media (max-width: @screen-xs-max) {
      border: 0 none;
      margin-top: 0;
    }

    a {
      color: #333;
    }

    .author-introduction {
      margin-top: 1em;

      .author-name {
        font-size: 1.5em;
        line-height: 1;
        margin-bottom: .4em;
      }

      .author-brief {
        font-size: .9em;
        color: #111;
        margin-top: .5em;
      }
    }

    .author-image {
      img {
        width: 6em;
        height: 6em;
        border-radius: 50%;
      }
    }
  }
}