@import '../bootstrap/variables.less';
@import './variables.less';

.container-author {
  max-width: 800px;
  padding-bottom: 20px;

  .author {
    max-width: 500px;
    margin: 10px auto;
    min-height: 140px;
    overflow: auto;
    display: -webkit-flex;
    display: flex;

    @media (max-width: @screen-sm-min) {
      min-height: auto;
      margin-bottom: 15px;
    }

    a {
      color: #333;
    }

    .author-introduction {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      padding-left: 1em;
      padding-top: .2em;

      .author-name {
        font-size: 1.7em;
        line-height: 1;
      }

      .author-brief {
        font-size: .9em;
        color: #111;
        max-width: 17em;
        margin-top: 0.5em;
      }

      @media (max-width: @screen-sm-min) {
        padding-top: 0;
      }
    }

    .author-image {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;

      img {
        width: 6em;
        height: 6em;
        // border-radius: 50%;
      }
    }
  }
}