@import '../bootstrap/variables.less';
@import './variables.less';

.font-hei() {
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

body {
  .font-hei();
  height: 100%;
  color: #333;
  letter-spacing: .065em;
  padding: 0;
}

h1 {
  font-size: 2.6em;
  font-weight: 300;
}

h2 {
  font-size: 2.15em;
  font-weight: 400;
}

h3 {
  font-size: 1.7em;
  font-weight: 300;
}

h4 {
  font-size: 1.25em;
  padding-top: .5em;
  padding-bottom: .2em;
  font-weight: 300;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .85em;
}

.mobile-only {
  display: none;
}

@media (max-width: @screen-sm-min) {
  .mobile-only {
    display: block;
  }

  body {
    font-size: 16px;
  }
}

@media (min-width: @screen-sm-min) {
  body {
    font-size: 16px;
  }
}

#container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}

/* Menu style */
.saoye-intro {
  position: absolute;
  width: 100%;
  top: 5%;
  text-align: center;

  .saoye-logo {
    padding-bottom: 1.5em;
  }

  .saoye-intro-text {
    font-size: .9em;
    color: #666;
  }
}

.menu-list {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Post styles on main page */
#home-slider {
  position: fixed;
  width: 100%;
  height: 100%;
}

.navbar-toggle {
  line-height: 1;
  color: #999;
}

.navbar-header-link {
  display: inline-block;
  margin: 8px 15px 8px 0;
  padding: 9px 10px;
}

.navbar-nav {
  .active {
    a {
      color: #000;
      background-color: #fff;
    }
  }
}

.page-heading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;

  .page-heading-name-ch {
    font-size: 1.1em;
    letter-spacing: .4em;
    text-indent: .4em;
    padding: .2em;
    font-weight: 400;
  }

  .page-heading-name-en {
    font-size: .6em;
    padding: .1em;
    font-weight: 400;
  }
}

/* Carousel (slider) */
.carousel,
.carousel-inner,
.item {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.carousel-inner {
  .item {
    .transition-duration(0.3s);
    .transition-property('left, transform');
  }
}

.slider-control {
  &.black-theme {
    .carousel-control {
      text-shadow: 0 1px 2px #fff;
      opacity: .7;

      .glyphicon {
        color: #000;
      }
    }
  }

  &.white-theme {
    .carousel-control {
      text-shadow: 0 1px 2px #000;
      opacity: .7;

      .glyphicon {
        color: #fff;
      }
    }
  }
}

.carousel-control {
  position: fixed;
  top: 88%;
  left: 42.2%;
  opacity: .7;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);

  .glyphicon {
    top: 15px;
  }

  &.right {
    right: 25%;
    background-image: none;
  }

  &.left {
    left: 25%;
    background-image: none;
  }
}
/* Full screen modal */
.fullscreen {
  .modal-header {
    padding: 0;
  }

  .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    color: #333;
  }

  .modal-header {
    padding: 10px;
  }

  .modal-content {
    height: 100%;
    min-height: 100%;
    border-radius: 0;
    color: #333;
    background: rgba(237, 237, 242, 1);
    overflow: auto;
  }

  .modal-body {
    ul {
      padding: 100px 0 0;

      li {
        padding: 10px 0;
      }
    }

    a {
      color: #333;
      font-size: 300%;
      font-weight: 300;
    }
  }
}

.navbar-desktop {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 0 auto;

  .logo-panel {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    .logo-wrapper {
      text-align: center;
      display: inline-block;

      .logo-name {
        margin-top: 10px;
        font-size: 1.6em;
      }

      img {
        width: 80px;
        height: 80px;
        display: block;
      }
    }
  }

  ul.nav {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;

    li {
      text-align: right;

      a {
        padding: 5px 15px;
        color: #333;
        border-left: 3px solid #FFF;
      }

      &.active a {
        color: #333;
        border-left: 3px solid #333;
      }
    }
  }
}

.navbar-default {
  background: none;
  padding: 0;

  .navbar-brand {
    color: #333;
    font-size: 1.5em;
    padding: 0;

    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
}

.navbar-header {
  display: none;
}

@media (max-width: @screen-sm-min) {
  .navbar-header {
    display: block;
  }

  .navbar-default {
    background: none;

    .navbar-brand {
      img {
        height: 36px;
        width: 36px;
      }
      padding: 5px 10px;
    }

    .navbar-toggle {
      height: 36px;
      width: 36px;
      border: none;
      margin: 8px 11px;
      padding: 0;

      &:hover,
      &:active {
        background: none;
      }
    }
  }

  .navbar-desktop {
    display: none;
  }

  .modal-body {
    position: absolute;
    width: 90%;
    height: 90%;
    bottom: 4%;
    left: 5%;
    padding: 0;
  }

  .fullscreen {
    .modal-body {
      ul {
        padding: 30px 0 0;
        overflow: auto;

        li {
          padding: 4px 0;
        }
      }

      a {
        color: @dark-selection-background;
        font-size: 150%;
        font-weight: 300;
      }
    }
  }
}

.modal-backdrop {
  z-index: 0;
}