@import '../bootstrap/variables.less';

.font-hei() {
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

body {
  .font-hei(); 
  height: 100%;
  color: #333;
  letter-spacing: 0.065em;
  padding: 0;
}

h1 {
  font-size: 2.6em;
  font-weight: 300;
}

h2 {
  font-size: 2.15em;
  font-weight: 400;
}

h3 {
  font-size: 1.7em;
  font-weight: 300;
}

h4 {
  font-size: 1.25em;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  font-weight: 300;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .85em;
}

@media (max-width: @screen-sm-min) {
  body {
    font-size: 16px;
  }
}

@media (min-width: @screen-sm-min) {
  body {
    font-size: 16px;
  }
}

#container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
/* Menu style */
.saoye-intro {
  position: absolute;
  width: 100%;
  top: 5%;
  text-align: center;
  
  .saoye-logo {
	padding-bottom: 1.5em;
  }
  
  .saoye-intro-text {
	font-size: 0.9em;
	color: #666;
  }
}

.menu-list {
  position: absolute;
  width: 100%;
  bottom: 0;
}
/* Post styles on main page */
#home-slider {
  position: fixed;
  width: 100%;
  height: 100%;
}

.navbar-toggle {
  line-height: 1;
  color: #999
}

.navbar-header-link {
  display: inline-block;
  margin: 8px 15px 8px 0;
  padding: 9px 10px;
}

.navbar-nav{
  .active{
	a{
	  color: #000;
	  background-color: #fff;
	}
  }
}

.page-heading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  
  .page-heading-name-ch {
	font-size: 1.1em;
	letter-spacing: 0.4em;
	text-indent: 0.4em;
	padding: 0.2em;
	font-weight: 400;
  }

  .page-heading-name-en {
	font-size: 0.6em;
	padding: 0.1em;
	font-weight: 400;
  }

}
